// definne public color variable and style

@color-border: #ebedf0;
@color-main: #001529;
.head-bar {
  width: 100%;
  margin-bottom: 12px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
