# Image registry where to pull images. 'project' specifies where to pull cyclone images,
# while 'libraryProject' specifies where to pull common images like 'alpine', 'busybox'.
# These two projects can be definitely set to the same value.
imageRegistry:
  registry: docker.io
  project: caicloud
  libraryProject: library

# Address of Cyclone server
serverAddress: cyclone-server.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.server.listenPort }}

# Cyclone workflow engine variables
engine:
  images:
    gc: alpine:3.8
    dind: docker:18.03-dind
  gc:
    # Whether enable GC, if set to true, pods would be cleaned after execution finished
    enabled: true
    # The time to wait before cleanup pods when an execution finished
    delaySeconds: 300
    # How many times to retry (include the initial one)
    retry: 1
    # ResourceRequirement for the pod to execute GC
    resourceRequirement:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 64Mi
  limits:
    # Maximum number of execution records to keep for each workflow.
    maxWorkflowRuns: 50
  # Parallelism constraints for WorkflowRun execution, value 0 or negative indicate
  # no constraint on the corresponding item.
  parallelism:
    overall:
      # How many WorkflowRuns are allowed to run in parallel
      maxParallel: 20
      # How many WorkflowRuns are allowed to wait for executing, when this limit
      # exceeded, new WorkflowRuns will fail directly.
      maxQueueSize: 100
    singleWorkflow:
      # How many WorkflowRuns are allowed to run in parallel for a single Workflow
      maxParallel: 3
      # How many WorkflowRuns are allowed to wait for executing, when this limit
      # exceeded, new WorkflowRuns will fail directly.
      maxQueueSize: 10
  resourceRequirement:
    default:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
  notification:
    url: http://{{ .Values.serverAddress }}/apis/v1alpha1/notifications
  developMode: "true"
  executionContext:
    namespace: cyclone-system
    pvc: cyclone-pvc-system
  dind:
    bip: 172.18.0.1/16

# Cyclone server variables
server:
  listenAddress: 0.0.0.0
  listenPort: 7099
  nodePort: 30011
  webhookUrlPrefix: http://{{ .Values.serverAddress }}/apis/v1alpha1
  init:
    templates: true
    defaultTenant: true
  openControlCluster: true
  pvc:
    # Default storageClass which Cyclone will use to create PVC.
    storageClass: ""
    size: 10Gi
  resourceRequirement:
    namespace:
      requests:
        cpu: 1
        memory: 2Gi
      limits:
        cpu: 2
        memory: 4Gi
  storageWatcher:
    reportUrl: http://{{ .Values.serverAddress }}/apis/v1alpha1/storage/usages
    intervalSeconds: 30
    resourceRequirements:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi

# Cyclone web variables
web:
  replicas: 1
  listenPort: 80
  nodePort: 30022
