.steps-content {
  padding-top: 20px;
}
.graph {
  height: 800px;
  :global {
    .graph-header {
      height: 32px;
      margin-bottom: 16px;
    }
    .view-wrapper {
      height: 714px;
    }
  }
}

.divider-small {
  :global {
    .ant-divider-inner-text {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
