{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "globals": {
    "_": true,
    "intl": true,
    "React": true
  },
  "rules": {
    "react/prop-types": "warn",
    "prettier/prettier": "error",
    "no-useless-escape": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/display-name": [2]
  }
}
